<!doctype html>
<html class="no-js" lang="">
<head>
    <meta charset="utf-8">
    <title><%= appName %></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css styles/main.css -->
    <% if (cssUILib==="sassFoundation") { %>
    <link rel="stylesheet" href="bower_components/foundation/css/normalize.min.css" type="text/css">
    <link rel="stylesheet" href="bower_components/foundation/css/foundation.min.css" type="text/css">
    <% } if(cssUILib==="sassMaterialize") { %>
    <link rel="stylesheet" href="bower_components/materialize/dist/css/materialize.min.css" type="text/css" media="screen,projection"/>
    <% } if(cssUILib==="sassBootstrap") { %>
    <link rel="stylesheet" href="styles/bootstrap.css">
    <% } %>
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->
    <% if (includeModernizr) { %>
    <!-- build:js scripts/vendor/modernizr.js -->
    <script src="bower_components/modernizr/modernizr.js"></script>
    <!-- endbuild -->
    <% } %>
</head>
<body>
<!--[if lt IE 10]>
<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade
    your browser</a> to improve your experience.</p>
<![endif]-->
    <div id="body">
    </div>
    <div id="spinner"></div>
    <script id="tplFlashMessage" type="text/template">
        <div class="alert alert-<%%= type %> alert-dismissable"><button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button><%%= message %></div>
    </script>

<% if (includeRequireJS) { %>
    <script src="scripts/vendor/spin.min.js"></script>
    <script src="scripts/vendor/require.js"></script>
    <script src="scripts/main.js"></script>
<% }else{ %>
    <!-- build:js scripts/vendor.js -->
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/lodash/dist/lodash.compat.js"></script>
    <script src="bower_components/backbone/backbone.js"></script>
    <!-- endbuild -->
    <!-- build:js scripts/plugins.js -->
    <script src="bower_components/moment/min/moment.min.js"></script>
    <!-- endbuild -->
    <!-- build:js({.tmp,app}) scripts/xx/main.js -->
    <script src="scripts/main.js"></script>
    <script src="scripts/routes/all.js"></script>
    <!-- endbuild -->
<% } %>
</body>
</html>
