<!doctype html>
<html manifest="offline.appcache" class="no-js" lang="zh">
<head>
    <meta charset="utf-8">
    <title><%= appName %></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css styles/main.css -->
    <% if (cssUILib==="sassFoundation") { -%>
    <link rel="stylesheet" href="styles/normalize.css" type="text/css">
    <link rel="stylesheet" href="styles/foundation.css" type="text/css">
    <% } if(cssUILib==="sassMaterialize") { -%>
    <link rel="stylesheet" href="styles/materialize.css" type="text/css" media="screen,projection"/>
    <% } if(cssUILib==="sassBootstrap") { -%>
    <link rel="stylesheet" href="styles/bootstrap.css">
    <% } -%>
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->
    <% if (includeModernizr) { -%>
    <!-- build:js scripts/vendor/modernizr.js -->
    <script src="bower_components/modernizr/modernizr.js"></script>
    <!-- endbuild -->
    <% } -%>
</head>
<body>
<!--[if lt IE 10]>
<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade
    your browser</a> to improve your experience.</p>
<![endif]-->
    <div id="body">
    </div>
    <div id="spinner"></div>
    <script id="tplFlashMessage" type="text/template">
        <div class="alert alert-<%%= type %> alert-dismissable"><button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button><%%= message %></div>
    </script>

<% if (includeRequireJS) { %>
    <script src="scripts/vendor/spin.min.js"></script>
    <script src="scripts/vendor/require.js"></script>
    <script src="scripts/main.js"></script>
<% }else{ %>
    <!-- build:js scripts/vendor.js -->
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/lodash/dist/lodash.compat.js"></script>
    <script src="bower_components/backbone/backbone.js"></script>
<% if(cssUILib==="sassMaterialize") { -%>
    <script src="bower_components/materialize/dist/js/materialize.min.js"></script>
<% }else if(cssUILib==="sassFoundation") { -%>
    <script src="bower_components/foundation/js/foundation.min.js"></script>
<% }else if(cssUILib==="sassBootstrap") { -%>
    <script src="bower_components/bootstrap-sass-official/assets/javascripts/bootstrap.min.js"></script>
<% } -%>
    <!-- endbuild -->
    <!-- build:js scripts/plugins.js -->
    <script src="bower_components/moment/min/moment.min.js"></script>
    <!-- endbuild -->
    <!-- build:js({.tmp,app}) scripts/main.js -->
    <script src="scripts/main.js"></script>
    <script src="scripts/templates.js"></script>
    <!-- needlePlace -->
    <script src="scripts/routes/all.js"></script>
    <!-- endbuild -->
    <!-- build:dev -->
    <script src="bower_components/mockjs/dist/mock.js"></script>
    <script src="scripts/mock_inject.js"></script>
    <!-- endbuild -->
<% } %>
</body>
</html>
